body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Josefin Slab', serif; */
  /* font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  border: none;
  border-top: 5px dotted #fff;
  /* color: #fff; */
  /* background-color: #fff; */
  letter-spacing: 10px;
  height: 1px;
  width: 100%;
}

/* code {
  display: block;
  white-space: pre-wrap;
  font-size: 16px;
} */

.border-img {
  border-image-slice: 326 326 326 326;
  border-image-width: 130px 130px 130px 130px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(BorderImg.png);
  border-style: solid;
}
